@import "../../styles/partials/variables";
@import "../../styles/partials/_mixins";

.video-list {
	display: flex;
	flex-direction: column;
	padding: 0 1rem;
	gap: 0.5rem;
	align-items: flex-start;

	&__header {
		@include section-header;
		color: $silver;
		font-family: "Avenir Bold";
		margin: 0;
	}
}
