@import "../../styles/partials/variables";
@import "../../styles/partials/_mixins";

.video-list {
	display: flex;
	flex-direction: column;
	padding: 0 1rem 1rem 1rem;
	align-items: flex-start;

	@include tablet {
		width: calc(100% - 5.5rem);
		margin: auto;
		padding: 0.5rem 1rem 1rem 1rem;
	}

	@include desktop {
		padding: 2.5rem 2rem 2.5rem 1rem;
		border-left: solid 1px #e1e1e1;
		max-width: 33%;
	}

	&__header {
		@include section-header;
		color: $silver;
		font-family: "Avenir Demi";
		margin: 0 0 1rem 0;

		@include tablet {
			@include subheader;
		}
	}
}
