@import "../../styles/partials/variables";
@import "../../styles/partials/_mixins";

.main {
	margin: 0 1rem;
	display: flex;
	flex-direction: column;

	@include tablet {
		width: calc(100% - 5.5rem);
		margin: auto;
	}

	@include desktop {
		margin: auto;
	}
}

.title {
	display: flex;
	border-bottom: 1px solid $brainflix-mercury;
	flex-direction: column;

	@include tablet {
		border-bottom: none;
	}

	@include desktop {
		border-bottom: none;
	}

	&__text {
		@include mobile-header;
		color: $brainflix-black;
		font-family: "Avenir Demi";
		text-align: left;

		@include tablet {
			@include page-header;
			font-family: "Avenir Bold";
			margin-bottom: 0.5rem;
		}

		@include desktop {
			@include page-header;
			font-family: "Avenir Bold";
			margin-bottom: 0;
		}
	}
}

.details {
	display: flex;
	flex-direction: column;
	justify-content: space-around;

	@include tablet {
		flex-direction: row;
		gap: 1rem;
	}

	@include desktop {
		flex-direction: row;
		gap: 1rem;
	}

	&__channel {
		@include mobile-copy;
		margin-bottom: 0;
		font-family: "Avenir Demi";
		text-align: left;

		@include tablet {
			@include body-copy;
		}

		@include desktop {
			@include body-copy;
		}
	}

	&__date {
		@include mobile-copy;
		margin-bottom: 0;
		text-align: left;
		color: $silver;

		@include tablet {
			@include body-copy;
		}

		@include desktop {
			@include body-copy;
		}
	}
}

.info {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	gap: 4rem;
	border-bottom: 1px solid $brainflix-mercury;
	padding: 0 0 1rem 0;

	@include tablet {
		justify-content: space-between;
	}

	@include desktop {
		justify-content: space-between;
		padding-right: 1rem;
	}
}

.stats {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	@include tablet {
		flex-direction: row;
		justify-content: space-around;
		gap: 1rem;
	}

	@include desktop {
		flex-direction: row;
		justify-content: space-around;
		gap: 1rem;
	}

	&__views,
	&__likes {
		@include mobile-copy;
		display: flex;
		margin-bottom: 0;
		color: $silver;

		@include tablet {
			@include body-copy;
		}

		@include desktop {
			@include body-copy;
		}
	}

	&__icon {
		padding: 0 0.5rem;
	}
}

.description {
	&__text {
		@include mobile-copy;
		text-align: left;
		margin-bottom: 0;

		@include tablet {
			@include body-copy;
		}

		@include desktop {
			@include body-copy;
			padding-right: 1rem;
		}
	}
}
