/*Fonts*/
@font-face {
	font-family: "Avenir Regular";
	src: url("/daria-kiseleva-brainflix/src/assets/fonts/AvenirNextLTPro-Regular.otf")
			format(opentype),
		url("/daria-kiseleva-brainflix/src/assets/fonts/alternative-files/AvenirNextLTPro.ttf")
			format(truetype);
}

@font-face {
	font-family: "Avenir Bold";
	src: url("/daria-kiseleva-brainflix/src/assets/fonts/AvenirNextLTPro-Bold.otf")
			format(opentype),
		url("/daria-kiseleva-brainflix/src/assets/fonts/alternative-files/AvenirNextLTProBold.ttf")
			format(truetype);
}

/*Primary Colors*/
$brainflix-black: #323232;
$brainflix-blue: #0095ff;
$silver: #afafaf;
$white: #ffffff;

/*Secondary Colors*/
$brainflix-darkblack: #000000;
$brainflix-darkblue: #0065ad;
$brainflix-mercury: #e1e1e1;
$brainflix-alabaster: #fafafa;

/*Breakpoints*/
$breakpoint-mobile: 767px;
$breakpoint-tablet: 1279px;
$breakpoint-desktop: 1280px;
