@import "../../styles/partials/variables";
@import "../../styles/partials/_mixins";

.main-div {
	@include desktop {
		display: flex;
		flex-direction: row;
		width: calc(100% - 15.5rem);
		margin: auto;
	}
}

.video-player {
	@include desktop {
		max-width: 64%;
	}
}
