@import "../../styles/partials/variables";
@import "../../styles/partials/_mixins";

.comment-count {
  @include mobile-copy;
  font-family: "Avenir Demi";
	padding: 0 1rem;
  margin-bottom: 0;

}

.form {
	display: flex;
	margin: 0 1rem;
  padding: 1rem 0;
	border-bottom: 1px solid #e1e1e1;
  width: -webkit-fill-available;

	&__title {
		@include mobile-subheader;
		font-family: "Avenir Demi";
		color: $silver;
		margin: 0;
	}

	&__avatar {
		border-radius: 50%;
		width: 2.25rem;
		height: 2.25rem;
		object-fit: cover;
		margin-top: 1.5rem;
	}

	&__section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		margin: 0 1rem;
		width: -webkit-fill-available;
	}

	&__input {
		@include mobile-copy;
		font-family: "Avenir Regular";
		height: 3rem;
		border: 1px solid $brainflix-mercury;
		background-color: $brainflix-alabaster;
		padding: 1rem;
		border-radius: 4px;
		overflow-wrap: break-word;
		resize: none;

		::placeholder {
			color: $brainflix-darkblack;
		}
	}

	&__button {
		margin-top: 0.5rem;
		background-color: $brainflix-blue;
		border: none;
		color: $white;
		min-width: 9.375rem;
		min-height: 2.5rem;
		border-radius: 4px;
		font-family: "Avenir Demi";
		position: relative;

		&--icon {
			position: absolute;
			left: 0.625rem;
			bottom: 0.5rem;
		}
	}
}
