@import "../../styles/partials/variables";
@import "../../styles/partials/_mixins";

.comment-form {
	margin: 0 1rem;
	border-bottom: 1px solid #e1e1e1;

	@include tablet {
		width: calc(100% - 5.5rem);
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: auto;
	}

	@include desktop {
		padding: 2rem 1rem 0.5rem 0;
		margin: 0;
	}

	&__comments-count {
		@include mobile-copy;
		font-family: "Avenir Bold";
		color: $brainflix-black;
		margin-bottom: 0;

		@include tablet {
			@include body-copy;
		}

		@include desktop {
			@include body-copy;
		}
	}
}
.form {
	display: flex;
	padding: 1rem 0;
	width: -webkit-fill-available;

	@include tablet {
		padding: 1rem 0 1.5rem 0;
	}

	&__section {
		display: flex;
		flex-direction: column;
		margin-left: 1rem;
		width: -webkit-fill-available;
	}

	&__input {
		width: -webkit-fill-available;

		@include tablet {
			display: flex;
			gap: 1rem;
		}

		@include desktop {
			display: flex;
			gap: 1rem;
		}

		&--field {
			@include mobile-copy;
			font-family: "Avenir Regular";
			height: 4rem;
			border: 1px solid $brainflix-mercury;
			background-color: $brainflix-alabaster;
			padding: 0.5rem 1rem 1rem 0.5rem;
			border-radius: 4px;
			overflow-wrap: break-word;
			resize: none;
			width: -webkit-fill-available;

			&:focus {
				border: 2px solid $brainflix-blue;
			}

			&:focus:required:invalid {
				outline: none;
				border: 2px solid #d22d2d;
			}

			@include tablet {
				@include body-copy;
				@include form-field-responsive;
			}

			@include desktop {
				@include body-copy;
				@include form-field-responsive;
				margin: 0;
			}
		}
	}

	&__title {
		@include section-header;
		font-family: "Avenir Demi";
		color: $silver;
		margin: 0;
	}

	&__avatar {
		@include avatar;
		margin-top: 1.5rem;

		@include tablet {
			margin-top: 1.5rem;
		}

		@include desktop {
			margin: 1.5rem 1rem 0 1rem;
		}
	}

	& ::placeholder {
		color: $brainflix-darkblack;
	}

	&__button {
		@include mobile-button;
		@include button;
		margin-top: 0.5rem;

		&:hover {
			background-color: $brainflix-darkblue;
			cursor: pointer;
		}

		@include tablet {
			@include labels-buttons;
			width: auto;
			margin-top: 0;
		}

		@include desktop {
			@include labels-buttons;
			width: auto;
			margin-top: 0;
		}

		&--icon {
			@include icon-position;
			width: 1.2rem;
		}
	}
}
