@import "../../styles/partials/variables";
@import "../../styles/partials/_mixins";

a {
	width: auto;
	height: auto;
}

.header {
	display: flex;
	flex-direction: column;
	margin: auto;
	padding: 1rem;

	@include tablet {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: calc(100% - 4.5rem);
		margin: auto;
		padding: 0;
	}

	@include desktop {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: calc(100% - 15.5rem);
		margin: auto;
		padding: 0;
	}

	&__logo {
		display: flex;
		justify-content: center;

		@include tablet {
			justify-content: flex-start;
			width: 70%;
		}

		@include desktop {
			justify-content: flex-start;
			width: 200%;
		}
	}
}

.logo {
	max-width: 7rem;
	max-height: 1.5625rem;
}

.nav {
	display: flex;
	justify-content: space-between;
	padding: 1rem 0;
	position: relative;

	@include tablet {
		width: -webkit-fill-available;
	}

	@include desktop {
		width: -webkit-fill-available;
	}

	&__search {
		width: -webkit-fill-available;
		font-family: "Avenir Regular";
		border: 1px solid $brainflix-mercury;
		border-radius: 4px;
		background-color: $brainflix-alabaster;
		color: $brainflix-black;
		padding-left: 2rem;
		margin-right: 1rem;

		&:focus {
			outline: 1px solid $brainflix-blue;
		}

		&--icon {
			@include icon-position;
			bottom: 1.6rem;
			width: 1rem;
		}

		&::placeholder {
			color: $brainflix-darkblack;
		}
	}

	&__avatar {
		@include avatar;

		@include tablet {
			visibility: hidden;
			width: 0;
		}

		@include desktop {
			visibility: hidden;
			width: 1rem;
		}
	}
}

.header__button {
	@include tablet {
		display: flex;
		gap: 1rem;
	}

	@include desktop {
		display: flex;
		gap: 2rem;
	}
}

.button {
	@include mobile-button;
	@include button;

	@include tablet {
		@include labels-buttons;
	}

	@include desktop {
		@include labels-buttons;
	}

	&:hover {
		background-color: $brainflix-darkblue;
		cursor: pointer;
	}

	&__icon {
		@include icon-position;
		width: 1.2rem;
	}

	&__avatar {
		@include avatar;
		display: none;

		@include tablet {
			display: flex;
		}

		@include desktop {
			display: flex;
		}
	}
}
