@import "../../styles/partials/variables";
@import "../../styles/partials/_mixins";

.player {
	display: flex;
	justify-content: center;
	border-bottom: 1px solid $brainflix-mercury;
	background-color: $brainflix-darkblack;
	margin: auto;
	align-items: center;

	@include tablet {
		margin: auto;
		align-items: center;
	}

	@include tablet {
		border-bottom: none;
	}

	&__poster {
		width: -webkit-fill-available;
		object-fit: cover;
		height: 56vw;

		@include tablet {
			width: calc(100% - 5.5rem);
		}

		@include desktop {
			max-width: 70%;
			height: 40vw;
		}
	}
}
