@import "../../styles/partials/variables";
@import "../../styles/partials/_mixins";

.comments {
	display: flex;
	margin: 1rem;
	border-bottom: 1px solid $brainflix-mercury;

	@include tablet {
		margin: 1rem 0;
	}

	@include desktop {
		padding: 1.5rem 1rem 1rem 1rem;
		margin: 0;
	}

	&:last-child {
		@include desktop {
			border-bottom: none;
		}
	}

	&__avatar {
		padding: 0 1rem 0 0;

		@include desktop {
			padding: 0 2rem 0 0;
		}

		&--placeholder {
			@include avatar;
			background-color: $brainflix-mercury;
		}
	}

	.comment {
		width: -webkit-fill-available;

		&__info {
			display: flex;
			justify-content: space-between;

			&--name {
				@include mobile-copy;
				font-family: "Avenir Demi";
				color: $brainflix-black;
				margin: 0;
			}

			&--date {
				@include mobile-copy;
				color: $silver;
				margin: 0;
			}
		}

		&__text {
			&--comment {
				@include mobile-copy;
				margin: 0.5rem 0 0.8125rem 0;

				@include tablet {
					@include body-copy;
				}

				@include desktop {
					@include body-copy;
					margin: 0.5rem 0;
				}
			}
		}
	}
}
